*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {  
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff;
    
}

/* backgroud-animation */

.con
{
   background-color: red;
   width:100%;
   height: 100vh;
   animation: backgroundChange 30s 5s infinite;
}
.con::before
{
   content: "";
   position:absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: linear-gradient(to left, #ffffff63, #ffffff33 );
}

.con2
{
   position: absolute;
   top: 0;
   left: 0;
   width: 100vh;
   height:100vh;
   overflow: hidden;
}

.con2 li
{
    list-style: none;
    position: absolute;
    width: 20px;
    height: 20px;
    background: #ffffff4d;
    animation: goingUp 25s linear infinite;
    bottom: -150px;
   }

.con2 li:nth-child(1)
{
   left: 5;
   width: 90px;
   height: 90px;
   animation-delay: 9s;
   animation-delay: 18s;
}

.con2 :nth-child(2)
{
   left: 10%;
   width: 20px;
   height: 20px;
   animation-delay: 2s;
   animation-delay: 10s;
}

.con2 :nth-child(3)
{
   left: 15%;
   width: 40px;
   height: 40px;
   animation-delay: 4s;
   animation-delay: 13s;
}

.con2 :nth-child(4)
{
   left: 25%;
   width: 70px;
   height: 50px;
   animation-delay: 3s;
   animation-delay: 9s;
}

.con2 :nth-child(5)
{
   left: 80%;
   width: 42px;
   height: 65px;
   animation-delay: 10s;
   animation-delay: 11s;
}

.con2 :nth-child(6)
{
   left: 70%;
   width: 10px;
   height: 10px;
   animation-delay: 2s;
   animation-delay: 8s;
}

.con2 :nth-child(7)
{
   left: 55%;
   width: 30px;
   height: 30px;
   animation-delay: 2s;
   animation-delay: 13s;
}

.con2 :nth-child(8)
{
   left: 45%;
   width: 40px;
   height: 70px;
   animation-delay: 6s;
   animation-delay: 8s;
}


.con2 :nth-child(9)
{
   left: 67%;
   width: 60px;
   height: 70px;
   animation-delay: 0s;
   animation-delay: 10s;
}

.con2 :nth-child(10)
{
   left: 78%;
   width: 80px;
   height: 90px;
   animation-delay: 1s;
   animation-delay: 8s;
}
.con2 :nth-child(11)
{
   left: 40%;
   width: 62px;
   height: 53px;
   animation-delay: 0s;
   animation-delay: 8s;
}


@keyframes goingUp
{
   0%
   {
      transform: translateY(0), rotate(0);
      opacity: 1;
      border-radius: 0;
   }

   100%
   {
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 40%;
   }
   
}

@keyframes backgroundChange
{
   0%
   {
      background-color: red;
   }

   20%
   {
      background-color: rgb(60, 255, 0);
   }

   38%
   {
      background-color: rgb(0, 119, 255);
   }

   50%
   {
      background-color: rgb(229, 255, 0);
   }

   69%
   {
      background-color: rgb(0, 255, 200);
   }
   80%
   {
      background-color: rgb(251, 255, 0);
   }
   100%
   {
      background-color: rgb(234, 0, 255);
   }
}
/*Navication bar*/
header
{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: rgb(255, 255, 255);
    color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation a
{
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 position: relative;
 font-size: 1.1em;
 color: #000000;
 text-decoration: none;
 font-weight: 500;
 margin-left: 40px;
}

.navigation a::after
{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: rgb(2, 182, 2);
    border-radius: 5px;
    transform:scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after
{
    transform:scaleX(1);
   
}

/*Navication-logo*/
.logo
{
    width: 150px;
    cursor: pointer;
    margin-bottom: 20px;

}

.logo:hover
{
    transform: scale(1.05); 
    transition: transform 0.2s ease-in-out;
}

/* TITLE */

.title
{
    display: flex;
    justify-content: center;
    margin: 0  ;
    font-size: 30px;
    color: rgb(24, 107, 24);
    background: #000000;
    text-shadow: 0px 0px 10px rgb(24, 107, 24),
                 0px 0px 20px rgb(24, 107, 24);
    

}

/* main page   */
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px; 

}


.img1
{
    max-width: 60%;
    height: auto;
}

.img1:hover
{
    transform: scale(1.05); 
  transition: transform 0.2s ease-in-out; 
}

.con2
{
    margin-top: 15px;
 }

/* contact page */
 /* about */

.incontainer
{
    
    
}
.phara
{
    
}

.otto
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
}

.col
{
    background-color: #575151;
    color: #fff;
    padding: 1rem;
    margin-top: 30px;
    columns: 2 200px;
    column-gap: 3rem;
    column-rule: 1px solid #000;

}
